<section>
    <form class="new-post-form d-flex p-2">
        <div>
            <label for="image-link"> Add a new favorite: </label>
            <input type="text" id="image-link" name="image-link" />
        </div>
        <button type="submit" class="btn btn-dark ml-2"> Add </button>
    </form>
</section>