@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;500&family=Nunito:wght@300;500&display=swap');

:root {
    --lightgreen: #e6edc4;
    --green: #adc178;
    --tan: #d3b393;
    --brown: #a98467;
    --darkbrown: #6c584c;
    --black: #02111b;
    --white: #f0ead2;
}

html,
body {

    height: 100%;
    font-family: 'Nunito';
    color: var(--black);
    background-color: var(--lightgreen);
}

a {
    color: rgb(21, 57, 21);
}

/* homepage styles */
/* header */
.navbar-menu {
    display: flex;
    justify-content: flex-end;
}

/* hero styles */
.welcome {
    padding-top: 55px;
    color: rgb(21, 57, 21);
}

.welcome h2 {
    font-family: 'Dancing Script';
    font-size: 45px;
    font-weight: bold;
}

.welcome p {
    text-align: justify;
}

.about-app {
    padding-top: 15px;
}

.hero img {
    max-height: 60%;
    width: auto;
}

.title-login {
    font-family: "Dancing Script";
    letter-spacing: 2px;
}

#logo {
    height: 60px;
    width: 60px;
    float: left;
}

/* log in page styles */
.form-control {
    background-color: var(--white);
}

.btn {
    border-radius: 4px;
    background-color: var(--green);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* dashboard styles */
.dashboard-header {
    color: var(--green);
}

.dashboard-title {
    font-family: "Dancing Script";
    letter-spacing: 2px;
    color: var(--darkbrown)
}

.add-button {
    background-color: var(--green);
}

/* footer styles */
footer {
    font-family: "Nunito";
    font-size: 15px;
    color: var(--black);
}