@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;500&family=Nunito:wght@300;500&display=swap');

:root {
    --lightgreen: #e6edc4;
    --green: #adc178;
    --tan: #d3b393;
    --brown: #a98467;
    --darkbrown: #6c584c;
    --black: #02111b;
    --white: #f0ead2;
}

html,
body {

    height: 100%;
    font-family: 'Nunito';
    color: var(--black);
    background-color: var(--lightgreen);
}

a {
    color: rgb(21, 57, 21);
}

/* homepage styles */
/* header */
.navbar-menu {
    display: flex;
    justify-content: flex-end;
}

/* hero styles */
.welcome {
    padding-top: 55px;
    color: rgb(21, 57, 21);
}

.welcome h2 {
    font-family: 'Dancing Script';
    font-size: 45px;
    font-weight: bold;
}

.welcome p {
    text-align: justify;
}

.about-app {
    padding-top: 15px;
}

.hero img {
    max-height: 60%;
    width: auto;
}

.title-login {
    font-family: "Dancing Script";
    letter-spacing: 2px;
}

#logo {
    height: 60px;
    width: 60px;
    float: left;
}

/* log in page styles */
.login-form h1 {
    font-size: 30px;
    color: var(--darkbrown);
    padding-top: 20px;
    padding-left: 10px;
}

.main-content {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
    margin: 5em auto;
    display: flex;
}

.site-info {
    background-color: #f0ead2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }

    .company__info {
        display: none;
    }

    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .main-content {
        width: 70%;
    }
}

.login-form {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid #ccc;
}

form {
    padding: 0 2em;
}

.form-input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form-input:focus {
    border-bottom-color: var(--tan);
    box-shadow: 0 0 5px rgba(111, 87, 51, 0.4);
    border-radius: 4px;
}

.btn {
    border-radius: 4px;
    background-color: var(--green);
    border: none;
    color: var(--darkbrown);
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover {
    padding-right: 25px;
    color: black;
}

.btn:hover:after {
    opacity: 1;
    right: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--white) !important;
}

/* dashboard styles */
.dashboard-header {
    color: var(--green);
}

.dashboard-title {
    font-family: "Dancing Script";
    letter-spacing: 2px;
    color: var(--darkbrown)
}

.add-button {
    background-color: var(--green);
}

.user-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


/* footer styles */
footer {
    font-family: "Nunito";
    font-size: 15px;
    color: var(--black);
}