<section>
    <h2> Add a new favorite! </h2>

    <form class="new-post-form">
        <div>
            <label for="image-link"> Link </label>
            <input type="text" id="image-link" name="image-link" />
        </div>
        <div>
            <label for="image-tags"> Tag </label>
            <input id="image-tags" name="image-tags" />
        </div>
        <button type="submit" class="btn"> Add </button>
    </form>
</section>