<header>
    <!-- navbar -->
    <nav class="navbar is-white">
        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/logo.jpg" alt="aesthete logo" id="logo" style="max-height: 80px">
            </a>
        </div>
        <div class="navbar-menu" id="nav-links">
            <button id="signup-btn" class="btn btn-success"> Sign Up </button>
            <button id="login-btn" class="btn btn-light"> Log In </button>
        </div>
    </nav>
</header>


<main>
    <div class="wrapper">

        <div class="container-fluid row">
            <!-- empty left side -->
            <div class="col-sm-2">
            </div>
            <!-- left side -->
            <div class="col-sm-4">
                <div class="welcome float-right">
                    <h2 class="pb-3"> Welcome to Aesthete ! </h2>
                    <p class="about-app"> We give you the power to create your own personal grid of images and ideas to
                        feed your imagination and creativity.
                        <br><br>
                        You can add any image from the web by copying the image address and uploading it to your user
                        database. Add custom tags and
                        create folders to organize your thoughts & projects!
                        <br><br>
                        It's your digital vision board, created by you for you!
                    </p>
                </div>
            </div>

            <!-- right side -->
            <div class="col-sm-6 float-left">
                <div class="hero hero-image">
                    <img class="rounded" alt="hero" src="/assets/Hero.gif">
                </div>
            </div>

        </div>

</main>