<div class="wrapper">
    <header>
        <!-- navbar -->
        <nav class="navbar is-white">
            <!-- logo -->
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="logo.jpg" alt="aesthete logo" id="logo" style="max-height: 80px">
                </a>
                <h1 class="is-size-2 has-text-centered is-black has-background"> Aesthete </h1>
            </div>
            <div class="navbar-menu" id="nav-links">
                <button id="logout" class="btn-no-style"> Sign Up </button>
                <button id="logout" class="btn-no-style"> Log In </button>
            </div>
        </nav>
    </header>
</div>

<main>

    <div class="container-fluid row">
        <!-- left side -->
        <div class="col-sm-8">
            <div class="hero hero-image">
                <img class="img-fluid rounder text-center" alt="hero"
                    src="https://images.pexels.com/photos/20967/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            </div>
        </div>

        <!-- right side -->
        <div class="col-sm-4">
            <div class="about">
                <h2> Your own personal grid. </h2>
                <p> Save all favorite images in one place! Add custom tags and create folders to store your
                    inspiration!
                </p>
            </div>
        </div>

</main>