<div class="wrapper">
    <header>
        <!-- navbar -->
        <nav class="navbar is-white">
            <!-- logo -->
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="logo.jpg" alt="aesthete logo" id="logo" style="max-height: 80px">
                </a>
            </div>
            <div class="navbar-menu" id="nav-links">
                <button id="signup-btn" class="btn btn-success"> Sign Up </button>
                <button id="login-btn" class="btn btn-light"> Log In </button>
            </div>
        </nav>
    </header>
</div>

<main>

    <div class="container-fluid row">
        <!-- empty left side -->
        <div class="col-sm-2">
        </div>
        <!-- left side -->
        <div class="col-sm-4 pt-4 align-middle">
            <div class="welcome float-right">
                <h2 class="pb-3"> Welcome to Aesthete✨ </h2>
                <p> We give you the power to create your own personal grid of images and ideas to feed your
                    imagination and creativity, created by you for you!
                    <br><br>
                    You can add any image from the web by copying the image address and uploading it to your user
                    database. Add custom tags and
                    create folders to organize your thoughts & projects!<br>
                    <br>
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="col-sm-6 float-left">
            <div class="hero hero-image">
                <img class="img-fluid rounded" alt="hero"
                    src="https://images.pexels.com/photos/4067759/pexels-photo-4067759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            </div>
        </div>



</main>