<!-- Sign Up Form -->
<div class="container-fluid">
    <div class="row main-content text-center">
        <div class="col-md-4 text-center site-info">
            <h4 class="company-logo">
                <img src="/assets/logo.jpg">
            </h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login-form ">
            <div class="container-fluid">
                <div class="row">
                    <h1> Create with <b>Aesthete</b> </h1>
                </div>
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form-input" placeholder="Username">
                        </div>
                        <div class="row">
                            <input type="text" name="email" id="email" class="form-input" placeholder="Email Address">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form-input"
                                placeholder="Password">
                        </div>
                        <div class="row">
                            <input type="checkbox" name="remember_me" id="remember_me" class="">
                            <label for="remember_me">Remember Me!</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
                <div class="row">
                    <p> Have an account? <a href="#"> Log In Here! </a></p>
                </div>
            </div>
        </div>
    </div>
</div>